<a href="https://colab.research.google.com/github/camilousa/SoftwareInteligente/blob/master/Copia_de_Scaler_Encoders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.DataFrame([[18, 1000000],[20, 5000000], [26, 6000000], [30, 7000000]],
               columns=['edad', 'sueldo'])

In [ ]:
scaler = MinMaxScaler()
scaler.fit(df)

MinMaxScaler()

In [ ]:
scaler.data_max_

array([3.e+01, 7.e+06])

In [ ]:
scaler.data_min_

array([1.8e+01, 1.0e+06])

In [ ]:
scaler.transform(df)

array([[0.        , 0.        ],
       [0.16666667, 0.66666667],
       [0.66666667, 0.83333333],
       [1.        , 1.        ]])

In [ ]:
scaler.transform([[16, 40000000]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  "X does not have valid feature names, but"

array([[-0.16666667,  6.5       ]])

In [ ]:
(((5 - 2.5) ** 2 + (5 - 2.5) ** 2 + 0 + (0 - 2.5) ** 2 + (0 - 2.5) ** 2 )/5) ** 0.5

2.23606797749979

In [ ]:
df = pd.DataFrame([[5], [5], [2.5], [0], [0]], columns=['Notas'])

In [ ]:
scaler = StandardScaler()
scaler.fit(df)

StandardScaler()

In [ ]:
scaler.mean_

array([2.5])

In [ ]:
scaler.var_ ** 0.5

array([2.23606798])

In [ ]:
import math

In [ ]:
math.sqrt(scaler.var_)

2.23606797749979

In [ ]:
scaler.transform(df)

array([[ 1.11803399],
       [ 1.11803399],
       [ 0.        ],
       [-1.11803399],
       [-1.11803399]])

In [ ]:
scaler.transform([[3.0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array([[0.2236068]])

In [ ]:
df = pd.DataFrame([["azul", "deportivo"], 
                   ["amarillo", "van"],
                   ["rojo", "van"],
                   ["azul", "deportivo"],
                   ["rojo", "luxury"]], columns=["color_carro", "tipo_carro"])

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [ ]:
encoder = OrdinalEncoder()
encoder.fit(df)

OrdinalEncoder()

In [ ]:
encoder.categories_

[array(['amarillo', 'azul', 'rojo'], dtype=object),
 array(['deportivo', 'luxury', 'van'], dtype=object)]

In [ ]:
encoder.transform(df)

array([[1., 0.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 1.]])

In [ ]:
df

  color_carro tipo_carro
0        azul  deportivo
1    amarillo        van
2        rojo        van
3        azul  deportivo
4        rojo     luxury

In [ ]:
encoder = OneHotEncoder()
encoder.fit(df)

OneHotEncoder()

In [ ]:
print(encoder.transform(df))

  (0, 1)	1.0
  (0, 3)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (2, 2)	1.0
  (2, 5)	1.0
  (3, 1)	1.0
  (3, 3)	1.0
  (4, 2)	1.0
  (4, 4)	1.0

In [ ]:
h = encoder.transform(df)
print(h.todense())

[[0. 1. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0. 1.]
 [0. 0. 1. 0. 0. 1.]
 [0. 1. 0. 1. 0. 0.]
 [0. 0. 1. 0. 1. 0.]]